---
interface Props {
    text: string;
    type?: "primary" | "secondary";
    href: string;
    className?: string;
}

const { text, type = "primary", href, className = "" }: Props = Astro.props;

const baseClasses =
    "px-6 py-2 rounded-sm rounded-tl-2xl rounded-br-2xl font-medium transition-colors duration-150";
const typeClasses = {
    primary: "bg-primary text-white hover:bg-primary/80",
    secondary:
        "border border-foreground text-white hover:bg-foreground hover:text-background",
};

const LinkButtonClasses = `${baseClasses} ${typeClasses[type]} ${className}`;
---

<a href={href} class={LinkButtonClasses}><slot />{text}</a>
